{% extends "_layout.html" %}

{% block content %}
<div class="page-header">
    <h1>{{ item.meta['filename'] }}</h1>
</div>

<dl>
    <dt>Download</dt>
    <dd><a href="{{ url_for('bepasty.download', name=name) }}">try here…</a></dd>
    <dt>Type</dt>
    <dd>{{ item.meta.get('type') or 'undefined' }}</dd>
    <dt>Size</dt>
    <dd>{{ item.meta['size'] }}</dd>
</p>
{% endblock content %}
