{% extends "_layout.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-4">
            <h2>World Wide Web</h2>
            <p>
                bepasty is a <a href="https://bitbucket.org/waldi/wsgiwar2013">free and open-source</a> paste bin and trash can for your stuff.
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Pure Awesomeness</h2>
            <p>
                Powered by <a href="http://python.org">Python</a>,
                an really old <a href="http://flask.pocoo.org/">Flask</a>,
                many <a href="http://ceph.com/">Ceph</a>-alopodes
                and this stupid landing page.
            </p>
        </div>
        <div class="col-sm-4">
            <h2>The Trophy Is A Lie</h2>
            <p>
                bepasty tries to crush the <a href="http://wsgiwrestle.com/">WSGI Wrestle 2013</a>.
            </p>
        </div>
    </div>
</div>

<div class="page-header">
    <h1>bepasty, the Binary File Uploader</h1>
</div>

<form action="/+upload" method="POST" enctype="multipart/form-data">
    <p>
        Just
        <span class="btn btn-default fileinput-button">
            <i class="glyphicon glyphicon-upload"></i>
            <span>add a file</span>
            <!-- Input for file upload widget -->
            <input id="fileupload" type="file" name="file">
        </span>
        <noscript>and <button id="fileupload-submit" class="btn btn-success">upload</button></noscript>
        or drop your file directly into the browser.
    </p>
</form>

<!-- The progress bar -->
<div id="fileupload-progress" class="progress progress-striped active" style="visibility: hidden">
    <div class="progress-bar"></div>
</div>

<!-- Uploaded files -->
<div id="files" class="files"></div>
{% endblock content %}

{% block extra_link %}
<!-- Fileupload ui styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='jquery.fileupload/css/jquery.fileupload-ui.css') }}" type="text/css">
{% endblock %}

{% block extra_script %}
<!-- jquery ui widget -->
<script src="{{ url_for('static', filename='jquery.fileupload/js/vendor/jquery.ui.widget.js') }}" type="text/javascript"></script>
<!-- iframe transport for browser without XHR support -->
<script src="{{ url_for('static', filename='jquery.fileupload/js/jquery.iframe-transport.js') }}" type="text/javascript"></script>
<!-- basic file upload -->
<script src="{{ url_for('static', filename='jquery.fileupload/js/jquery.fileupload.js') }}" type="text/javascript"></script>
<!-- file upload progress bar -->
<script src="{{ url_for('static', filename='jquery.fileupload/js/jquery.fileupload-process.js') }}" type="text/javascript"></script>
<!-- file upload validation -->
<script src="{{ url_for('static', filename='jquery.fileupload/js/jquery.fileupload-validate.js') }}" type="text/javascript"></script>
<!-- fileuploader -->
<script src="{{ url_for('static', filename='app/js/fileuploader.js') }}" type="text/javascript"></script>
{% endblock %}
